{% extends "layout.twig" %}
{% block content %}

    <div class="page-header">
        <h1 class="display-1">
            <small>{{ icon('wrench') }} Tools - {{ icon('gears') }} <code>Common</code></small>
        </h1>
    </div>

    <div class="alert alert-info">
        Classe statique qui fournit des méthodes diverses.
    </div>

    <div class="row">

        <div class="col-12">
            <h2>Utilisation</h2>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir la taille en octets à partir d'une taille en bits.</h3>
            <pre class="sh_php"> echo Common::bitsSize(4096);</pre>
            <div class="alert alert-dark">
                <samp>{{ 4096|bitsSize }}</samp>
            </div>
        </div>
        <div class="col-12">
            <hr/>
        </div>
    </div>

{% endblock %}