{% extends "layout.twig" %}
{% block content %}

    <div class="page-header">
        <h1 class="display-1">
            <small>{{ icon('wrench') }} Tools - <code>Composer</code></small>
        </h1>
    </div>

    <div class="alert alert-info">
        Facilite la lecture d'un fichier composer.json.
    </div>

    <div class="row">

        <div class="col-12">
            <h2>Utilisation</h2>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir une instance</h3>
            <pre class="sh_php"> $composer = new Composer('/composer.json');</pre>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir le contenu sous la forme d'un tableau</h3>
            <pre class="sh_php"> $composer->toArray();</pre>
            {{ r(composer.toArray) }}
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir la valeur d'une clé</h3>
            <pre class="sh_php"> $composer->get('license');</pre>
            <div class="alert alert-dark"><samp>{{ composer.get('license') }}</samp></div>
            <hr/>
        </div>

        <div class="col-12">
            <h3>Obtenir le résultat de la commande <code>show</code></h3>
            <pre class="sh_php"> $composer->show();</pre>
            {{ r(composer.show) }}
            <hr/>
        </div>
    </div>

{% endblock %}