{% extends 'layout.twig' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3"><i class="fa fa-ban"></i> Oups... Page non trouvée <i class="fa fa-smile"></i></h1>
            <div class="alert alert-warning">
                <p class="lead"><i class="fa fa-info-circle"></i> Il n'y a rien à cette adresse : <code>{{ request.getUri.getPath }}</code></p>
                <p>
                    <i class="fa fa-gears"></i> Paramètres :
                    {{ r(request.getParams) }}
                </p>
            </div>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path_for('home') }}" role="button"><i class="fa fa-home"></i></a>
            </p>
        </div>
    </div>
{% endblock %}